.header {
  width: 100%;
  height: 120px;  
  background-color: #020202;
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px #333333;
}

.content {
  width: 100%;
  max-width: 1024px;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #020202;
}